<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Error: 404 Not Found</title>
</head>
<body>
<div class="content">
    <br>
    <p>Sorry, the requested page is not available. <br>
    Press the back arrow to return to the app.</p>
    <br>
</div>

<div class="footer">
    <a href="http://127.0.0.1:5000/">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
</body>
</html>
