
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <title>International Tip Calculator</title>

</head>

    <body ng-app="test">
        <div class="topnav">
            <a href="http://127.0.0.1:5000/"><i class="fas fa-home fa-fw"></i>  Home</a>
            <a href="http://127.0.0.1:5000/fixer_status"><i class="fas fa-wrench"></i>  Fixer.io Status</a>
            <a href="https://github.com/mcdonagj/International-Tip-Calculator"><i class="fab fa-github"></i>  Fork on Github</a>
        </div>


        <div class="content">

                <h3>International Tip Calculator</h3>
                <p>A web application that simplifies value conversions between established currencies.</p>
            <div ng-controller="testCtrl">
                <div class="roundedcorners">
                <form method="POST" ng-submit="submit()">

                    To calculate a tip, complete the sections below:
                    <br><br>

                    a. Base Currency:

                    <select class="form-control" name="base_currency" id="Base Currency">
                        <option name='Euro' value="EUR">EUR</option>
                    </select>

                    <br>

                    b. Bill Amount:
                    <input type="number" name="bill_amount" min="0" step="0.01" value="0"><br>

                    c. Tip Percentage:
                    <input type="number" name="tip_percentage" min="0" max="100" step="1" value="15">
                    (%)
                    <br>

                    d. Converted Currency:

                        <script>
                            var app = angular.module("test", []);
                            app.controller("testCtrl", function($scope) {
                                $scope.list= JSON.parse('{{rates | tojson}}');
                            })
                        </script>

                        <select ng-model="value" ng-options="value for value in list"></select>
                        <br>

                    <input type="submit" value="Calculate tip" />
                </form>
                    </div>
            </div>
        </div>

        <div class="footer">
            <p>URL handling provided by: <a href="https://github.com/pallets/flask">Flask</a> & <a href="https://github.com/requests/requests">Requests</a>.</p>
        </div>

    </body>


</html>
